body{
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    width: 200px;
    border-radius: 35px;
}
.headerDiv{
    background-color: blue;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.note{

}